body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 80px;
    padding-bottom: 0px;
}    
/* border-bottom: 1px solid #ddd; */

.logo {
    max-width: 180px;   /* 원하는 크기로 조정! */
    height: auto;
    display: block; 
    padding-left: 0px;   
    padding-top: 3px; 
}

nav ul {
    display: flex;
    gap: 140px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    font-size: 30px;
}

nav ul li a.active {
    border-bottom: 2px solid #1e90ff;
}

main {
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.left {
    flex: 3.5;
    padding-right: 0px;
    padding-top: 100px;
    padding-left: 50px;
}

.left h1 {
    font-size: 55px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.left p#p{
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-bottom: 0;
}

.left p {
    color: #555;
    line-height: 1.6;
    margin-top: 0;
}

.button {
    margin-top: 20px;
    background-color: #ee6e11;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    width: 180px;
    font-size: 25px;
    display: inline-block; /* 넓이 적용에 권장 */
    text-align: center;    /* 텍스트 가운데 정렬 */
}

.right {
    flex: 6.5;
    display: flex;
    justify-content: center;
    position: sticky;
    padding-left: 0px;
}

.right img {
    width: 100%;
    max-width: 1200px;
}

#live_consulting {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 16px;
    background: #128bc8;
    color: white;
    padding: 12px;
    font-weight: bold;
    box-decoration-break: 0px 5px 15px gray;
    cursor: pointer;
    min-width: 120px;            /* 최소 가로 길이 지정 */
    min-height: 40px;            /* 최소 세로 길이 지정 */
    align-content: center;
}
