body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 80px;
  padding-bottom: 0px;
}

/* border-bottom: 1px solid #ddd; */

.logo {
  max-width: 180px;
  /* 원하는 크기로 조정! */
  height: auto;
  display: block;
  padding-left: 0px;
  padding-top: 3px;
}

nav ul {
  display: flex;
  gap: 140px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 30px;
}

nav ul li a.active {
  border-bottom: 2px solid #1e90ff;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

body h2 {
  margin-left: 12%;
  margin-right: 10%;
  margin-bottom: 7px;
  font-size: 35px;
}

span.component-box{
  border: 2px  #ffffff;
  border-radius: 6px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  width: 120px;
  ;
}

#bg {
  background-color: #ee6e11;
  border-radius: 7px;
  margin-left: 12%;
  margin-right: 12%;
}

main#bg div {
  padding: 2%;
}

span.parts {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}

main#bg a {
  margin-left: 82%;
}

main#bg a button{
  padding: 10px 27px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 12px;
  color: gray;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: #ee6e11;
}