header {
    display: flex;
    flex-direction: column;   /* 수직 정렬 */
    align-items: center;      /* 가로 가운데 정렬 */
    justify-content: center;  /* 세로 방향에서 가운데 */
}

#logo {
    max-width: 180px;

}

header h1 {
    margin-top: 0%;
    margin-bottom: 0;
    font-size: 45px;
}

section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#subscribe {
    display: flex;
    margin: 20px auto;  /* 자동 마진 → 가로 중앙 */
    padding: 12px 24px;
    background-color: #ee6e11;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

body label {
    display: flex;
    flex-direction: column;   /* 수직 정렬 */
    padding-left: 20%;
    padding-right: 20%;
    font-weight: bold;
    font-size: 22px;
}

body label input {
    text-align: left;
    font-size: 18px;
    font-weight: 200;
    height: 28px;
}

body label select {
    text-align: left;
    font-size: 18px;
    font-weight: 200;
    height: 30px;
}

#recommend {
    display: block;
    margin: 20px auto;   /* 좌우 margin auto = 가운데 정렬 */
    padding: 10px 24px;
    background-color: #ee6e11;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;  /* 텍스트 가운데 */
    min-width: 60%;
}