<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/about.css">
</head>

<body>
    <header>
    <a href="/home"><img src="../static/image/web_bw.png" alt="로고" class="logo"></a>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about" class="active">About</a></li>
            <li><a href="/performance">Performance</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
    </header>
    <main id="main1">
      <br>
      <h1 class="h1">Build Your Own PC - Free & Powered by AI</h1> <hr>
      <p class="p">Welcome to AI PV Builder, the AI PC builder that helps 
        you assemble your dream desktop for gaming, rendering, or everyday use. <br>
        No login required — just tell us your budget and preferences. <br>
        Our chatbot quickly picks parts, checks part compatibility, 
        optimizes performance, and stays within your budget. <br>
        Start building now! 
      </p> <hr>
      <form action="/search">
        <button id="start">Start Your PC Build</button>
      </form>
    </main>
    <br>
    <main id="main2">
      <br>
      <h1 class="h1">Why choose AI PC Builder</h1> <hr>
      <p class="p">
      <span class="yellow">Free & No Account Required</span>  : Build your dream PC anytime without sign-ups. <br> 
      <span class="yellow">Powered by AI</span> : We analyze your needs—gaming, rendering, or office—and suggest optimal parts.<br>
      <span class="yellow">Smart Compatibility Checks</span> : Never worry about mismatched components. Nova verifies every part.<br>
      <span class="yellow">Personalized Performance</span>: From budget builds to high-end rigs, tailor your PC to your exact needs.<br>
      <span class="yellow">Easy Adjustments</span>: Want to swap a GPU or boost RAM? Make changes on the fly and see immediate recommendations.<br>
      </p>
    <hr>
    </main>
</body>
