<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" href="/static/faq.css">
</head>

<body>
    <header>
    <a href="/home"><img src="../static/image/web_bw.png" alt="로고" class="logo"></a>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/performance">Performance</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/faq"  class="active">FAQ</a></li>
        </ul>
    </nav>
    </header>

    <main>
      <br>
      <h1>Contact Us</h1>
      <hr>
      <p>Have any questions, feedback, or need support?
        Send us a message and we'll get back to you as soon as possible. Thank you!
      </p>
      <hr>
      <form action="">
        <label>Name: <br>
          <input type="text" placeholder="Your name"></label> <hr> 
        <label>Email: <br>
          <input type="email" id="email" placeholder="Your email"></label><hr>
        <label>Message: <br>
          <input type="text" id="message" placeholder="Your message"></label> <hr>
      </form>
        <footer>
          <form action="">
            <button>Send</button>
          </form>
      </footer>
    </main>
</body>
