<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AI PC Builder</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <header>
    <a href="/home"><img src="../static/image/web_bw.png" alt="로고" class="logo"></a>
    <nav>
        <ul>
            <li><a href="/home" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/performance">Performance</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
    </header>

    <main>
        <nav class="left">
            <h1>CREATE YOUR PC</h1>
            <p id="p">AI PC Builder is an intelligent platform that recommends the best PC parts based on your budget and usage.</p>
            <p>
            No more confusion—build your custom PC with just a few clicks.
            Whether it’s for gaming, office work, video editing, or AI development, we’ve got you covered.
            Our AI analyzes performance, compatibility, and real-time pricing for optimal recommendations.
            Experience fast, easy, and expert-level PC building for everyone.
            </p>
            <a href="/about" class="button">Read more</a>
        </nav>
        <section class="right">
            <img src="/static/image/pc_banner.png" alt="PC illustration">
        </section>
    </main>
    <a href="/consult"><button id='live_consulting'>실시간 상담☎️</button></a>
</body>


</html>










