<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AI PC Builder</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
    <img src="../static/image/web_bw.png" alt="로고" class="logo">
    <nav>
        <ul>
            <li><a href="/Home" class="active">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/FAQ">FAQ</a></li>
        </ul>
    </nav>
    </header>

    <main>
        <nav class="left">
            <h1>CREATE YOUR PC</h1>
            <p>여기에는 사이트에 대한 설명 어쩌고 저쩌고 샬라샬라 내 마음대로 쓸거야~~~ section태그 class=left영역이야!!!
            </p>
            <p>여기에는 사이트에 대한 설명 어쩌고 저쩌고 샬라샬라 내 마음대로 쓸거야~~~ section태그 class=left영역이야!!!
            </p>
            <p>여기에는 사이트에 대한 설명 어쩌고 저쩌고 샬라샬라 내 마음대로 쓸거야~~~ section태그 class=left영역이야!!!
            </p>
            <a href="/recommend" class="button">Read more</a>
        </nav>
        <section class="right">
            <img src="/static/image/pc_banner.png" alt="PC illustration">
        </section>
    </main>
    <button id='live_consulting'>실시간 상담☎️</button>
</body>


</html>










