<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <link rel="stylesheet" href="../static/search.css">
</head>
<body>
    <header class="head">
        <a href="/"><img id="logo" src="../static/image/web_logo.png" alt="web_logo"></a>
        <h1>AI PC Builder</h1>
    </header>
    <form method="get" action="/">
        <section>
            <h2 id="buck">Get the most bang for your buck</h2>
            <button id="subscribe">Subscribe for Real Time Pirces</button>
        </section>
    </form>
    <form method="get" action="/search">
        <label>How many dollars you want to spend ? <input type="number" name="budget" value="{{ budget or 1000 }}"></label><br>
        <label> What type of PC do you want ?
            <select name="purpose">
                <option value="gaming" {% if purpose == "gaming" %}selected{% endif %}>Gaming</option>
                <option value="office" {% if purpose == "office" %}selected{% endif %}>Office</option>
                <option value="editing" {% if purpose == "editing" %}selected{% endif %}>Editing</option>
                <option value="AI/ML" {% if purpose == "AI/ML" %}selected{% endif %}>AI/ML</option>
            </select>
        </label><br>
        <button id="recommend" type="submit">Get My PC</button>
    </form>
    {% if result %}
    <h2>Result Of Your PC</h2>
    <table border="1">
        <tr>
            <th>Purpose</th>
            <th>{{ result.CPU }}</th>
            <th>{{ result.CPU.Price }}</th>
        </tr>
        <tr>
            <th>Mainboard</th>
            <th>{{ result.Mainboard }}</th>
        </tr>
        <tr>
            <th>GPU</th>
            <th>{{ result.GPU }}</th>
        </tr>
        <tr>
            <th>RAM</th>
            <th>{{ result.RAM }}</th>
        </tr>
        <tr>
            <th>SSD</th>
            <th>{{ result.SSD }}</th>
        </tr>
        <tr>
            <th>PSU</th>
            <th>{{ result.PSU }}</th>
        </tr>
        <tr>
            <th>Total Price</th>
            <th>{{ result.Total_Price }}$</th>
        </tr>
    </table>
    {% endif %}
    <!-- {% if result %}
    <h2>추천 결과</h2>
    <ul>
        <li><strong>CPU:</strong> {{ result.CPU }}</li>
        <li><strong>Mainboard:</strong> {{ result.Mainboard }}</li>
        <li><strong>GPU:</strong> {{ result.GPU }}</li>
        <li><strong>RAM:</strong> {{ result.RAM }}</li>
        <li><strong>SSD:</strong> {{ result.SSD }}</li>
        <li><strong>PSU:</strong> {{ result.PSU }}</li>
        <li><strong>Total Performance:</strong> {{ result.Total_Performance }}</li>
        <li><strong>Total Price:</strong> ${{ result.Total_Price }}</li>
    </ul>
    {% endif %} -->

</body>
</html>